Repository iver-wharf/wharf-cmd, pull requests merged in 2022-02, with the labels that each got.

#34 Improved logging with Cobra
  CHANGELOG.md
  cmd/root.go
Labels: enhancement

#32 Applied goimports formatting
  .github/workflows/go-format.yml
  .vscode/extensions.json
  .vscode/settings.json
  cmd/run.go
  pkg/core/containercreator/containercreator.go
  pkg/core/containercreator/containersflags_test.go
  pkg/core/containercreator/helm/helm.go
  pkg/core/containercreator/kubeapply/kubeapply.go
  pkg/core/containercreator/utils/scriptworker.go
  pkg/core/containercreator/utils/scriptworker_test.go
  pkg/core/containercreator/utils/utils.go
  pkg/core/containercreator/utils/utils_test.go
  pkg/core/kubernetes/podinfo.go
  pkg/core/kubernetes/podinfo_test.go
  pkg/core/utils/sanitizationflags.go
  pkg/core/utils/streamscanner_test.go
  pkg/core/wharfyml/containerspec_test.go
  pkg/core/wharfyml/inputs.go
  pkg/core/wharfyml/inputtype.go
  pkg/core/wharfyml/podspec.go
  pkg/core/wharfyml/stage.go
  pkg/core/wharfyml/step.go
  pkg/core/wharfyml/variables.go
Labels: chore

#33 wharf-cmd-worker v1
  .github/workflows/go-test.yml
  .gitignore
  CHANGELOG.md
  Dockerfile
  README.md
  cmd/run.go
  docs/worker-file-transfer-pod.yaml
  docs/worker-file-transfer.md
  go.mod
  go.sum
  pkg/core/kubernetes/containerreadywaiter_test.go
  pkg/core/kubernetes/containerwaiter.go
  pkg/core/kubernetes/logsreader.go
  pkg/core/kubernetes/podclient.go
  pkg/namespace/namespaces.go
  pkg/tarutil/dir.go
  pkg/tarutil/dir_test.go
  pkg/worker/builder.go
  pkg/worker/builder_test.go
  pkg/worker/context.go
  pkg/worker/k8spodtemplating.go
  pkg/worker/k8srunner.go
  pkg/worker/nopio.go
  pkg/worker/stagerunner.go
  pkg/worker/stagerunner_test.go
  pkg/worker/status.go
  pkg/worker/worker.go
  test/.wharf-ci.yml
  test/somefile.txt
  test/tarutil/dirtest/bar/moo
  test/tarutil/dirtest/somedir/.hidden
  test/tarutil/dirtest/somefile.txt
Labels: enhancement, c/worker

#36 Scrapped v0.7.0
  CHANGELOG.md
Labels: chore

#43 Added build result storage type
  CHANGELOG.md
  docs/build-result-ids.md
  docs/build-result-logs.md
  pkg/resultstore/fs.go
  pkg/resultstore/fs_test.go
  pkg/resultstore/keyedmutex.go
  pkg/resultstore/logline.go
  pkg/resultstore/logline_bench_test.go
  pkg/resultstore/logline_test.go
  pkg/resultstore/loglinereader.go
  pkg/resultstore/loglinereader_test.go
  pkg/resultstore/loglinewriter.go
  pkg/resultstore/loglinewriter_test.go
  pkg/resultstore/resultstore.go
  pkg/resultstore/resultstore_test.go
  pkg/resultstore/status.go
  pkg/resultstore/status_test.go
  pkg/worker/status.go
  pkg/worker/status_test.go
Labels: enhancement, c/worker

#31 Added Makefile for linting and building
  Makefile
  README.md
  package.json
Labels: documentation

#48 Rewrote wharfyml package
  CHANGELOG.md
  cmd/run.go
  go.mod
  go.sum
  pkg/resultstore/logline_test.go
  pkg/wharfyml/builddefinition.go
  pkg/wharfyml/builddefinition_test.go
  pkg/wharfyml/builddefinitionparse_test.go
  pkg/wharfyml/definition.go
  pkg/wharfyml/doc.go
  pkg/wharfyml/environment.go
  pkg/wharfyml/environment_test.go
  pkg/wharfyml/error.go
  pkg/wharfyml/error_test.go
  pkg/wharfyml/inputs.go
  pkg/wharfyml/inputs_test.go
  pkg/wharfyml/inputtype.go
  pkg/wharfyml/inputtypes.go
  pkg/wharfyml/logger.go
  pkg/wharfyml/magicstrings.go
  pkg/wharfyml/nodemapparser.go
  pkg/wharfyml/parse.go
  pkg/wharfyml/parse_test.go
  pkg/wharfyml/position.go
  pkg/wharfyml/stage.go
  pkg/wharfyml/stage_test.go
  pkg/wharfyml/step.go
  pkg/wharfyml/step_test.go
  pkg/wharfyml/steptype.go
  pkg/wharfyml/steptype_container.go
  pkg/wharfyml/steptype_docker.go
  pkg/wharfyml/steptype_helm.go
  pkg/wharfyml/steptype_helmpackage.go
  pkg/wharfyml/steptype_kubectl.go
  pkg/wharfyml/steptype_nugetpackage.go
  pkg/wharfyml/steptype_test.go
  pkg/wharfyml/variables.go
  pkg/wharfyml/visitor.go
  pkg/worker/builder.go
  pkg/worker/builder_test.go
  pkg/worker/k8spodtemplating.go
  pkg/worker/k8srunner.go
  pkg/worker/worker.go
Labels: enhancement

#50 Read pod logs on failed start
  CHANGELOG.md
  pkg/worker/k8srunner.go
Labels: enhancement, c/worker

#46 wharf-cmd-provisioner v1
  CHANGELOG.md
  cmd/provisioner.go
  cmd/provisioner_create.go
  cmd/provisioner_delete.go
  cmd/provisioner_list.go
  cmd/provisioner_serve.go
  go.mod
  go.sum
  pkg/provisioner/k8sprovisioner.go
  pkg/provisioner/provisioner.go
  pkg/provisioner/worker.go
  pkg/provisioner/worker_test.go
  pkg/provisionerapi/provisionerapi.go
  pkg/provisionerapi/worker.go
  pkg/worker/status.go
Labels: enhancement, c/provisioner

#53 Removed duplicate k8s/core/v1 import
  pkg/worker/k8srunner.go
Labels: c/worker, chore

#47 Added goimports linting to 'make lint-go'
  Makefile
  README.md
Labels: chore

#52 Fixed to fail on config error
  CHANGELOG.md
  pkg/worker/k8srunner.go
Labels: enhancement, c/worker

#49 Cut await from last CR
  CHANGELOG.md
  pkg/worker/k8srunner.go
Labels: enhancement, c/worker

#45 Added full support for other step types
  CHANGELOG.md
  pkg/wharfyml/steptype_docker.go
  pkg/worker/k8spodtemplating.go
  pkg/worker/k8spodtemplating_test.go
  pkg/worker/k8sscript-helm-package.sh
  pkg/worker/k8sscript-nuget-package.sh
  test/.wharf-ci.yml
  test/Dockerfile
  test/helm-chart/.helmignore
  test/helm-chart/Chart.yaml
  test/helm-chart/README.md
  test/helm-chart/templates/NOTES.txt
  test/helm-chart/templates/_helpers.tpl
  test/helm-chart/templates/deployment.yaml
  test/helm-chart/values.yaml
Labels: enhancement, c/worker
